In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [1]:
df = pd.read_csv("Data\Data.csv" )

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\91812\AppData\Local\Temp\ipykernel_16736\1816298969.py:1: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_csv("Data\Data.csv" )
C:\Users\91812\AppData\Local\Temp\ipykernel_16736\1816298969.py:1: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_csv("Data\Data.csv" )

NameError: name 'pd' is not defined

In [ ]:
df.dtypes

Age                                    int64
Is_Senior                              int64
Marital_Status                        object
Married_Premium_Discount               int64
Prior_Insurance                       object
Prior_Insurance_Premium_Adjustment     int64
Claims_Frequency                       int64
Claims_Severity                       object
Claims_Adjustment                      int64
Policy_Type                           object
Policy_Adjustment                      int64
Premium_Amount                         int64
Safe_Driver_Discount                   int64
Multi_Policy_Discount                  int64
Bundling_Discount                      int64
Total_Discounts                        int64
Source_of_Lead                        object
Time_Since_First_Contact               int64
Conversion_Status                      int64
Website_Visits                         int64
Inquiries                              int64
Quotes_Requested                       int64
Time_to_Conversion                     int64
Credit_Score                           int64
Premium_Adjustment_Credit              int64
Region                                object
Premium_Adjustment_Region              int64
dtype: object

In [ ]:
categorical_features = df.select_dtypes(include= ['object']).columns

In [ ]:
for col in categorical_features:
    print(f"Unique values in column '{col}': {df[col].unique()}")

Unique values in column 'Marital_Status': ['Married' 'Single' 'Widowed' 'Divorced']
Unique values in column 'Prior_Insurance': ['1-5 years' '>5 years' '<1 year']
Unique values in column 'Claims_Severity': ['Low' 'Medium' 'High']
Unique values in column 'Policy_Type': ['Full Coverage' 'Liability-Only']
Unique values in column 'Source_of_Lead': ['Agent' 'Online' 'Referral']
Unique values in column 'Region': ['Suburban' 'Urban' 'Rural']

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder , FunctionTransformer


ordinal_cols = ["Prior_Insurance","Claims_Severity"]

label_cols = ["Policy_Type","Source_of_Lead","Region","Marital_Status"]

In [ ]:
prior_insurance_order = ['<1 year', '1-5 years', '>5 years']
claims_severity_order = ['Low', 'Medium', 'High']

In [ ]:
Ordinal_pipeline =  OrdinalEncoder( categories= [prior_insurance_order , claims_severity_order])

In [ ]:
def label_encoder_function(df):

    for col in df.columns:

        df[col] = LabelEncoder().fit_transform(df[col])
    
    return df

In [ ]:
label_pipeline = FunctionTransformer(label_encoder_function, validate=False)

In [ ]:
preprocessor = ColumnTransformer([('ordinal' , Ordinal_pipeline , ordinal_cols),
                                  ('label', label_pipeline , label_cols)])

In [ ]:
preprocessed_data = preprocessor.fit_transform(df)

In [ ]:
preprocessed_data

array([[1., 0., 0., 0., 1., 1.],
       [1., 0., 0., 1., 2., 1.],
       [1., 0., 0., 1., 2., 1.],
       ...,
       [0., 0., 0., 0., 2., 1.],
       [0., 1., 1., 0., 1., 2.],
       [1., 2., 1., 0., 1., 0.]], shape=(10000, 6))

In [ ]:
transformed_data = pd.DataFrame(preprocessed_data , columns = ordinal_cols + label_cols)
transformed_data

,Prior_Insurance,Claims_Severity,Policy_Type,Source_of_Lead,Region,Marital_Status
0,1.0,0.0,0.0,0.0,1.0,1.0
1,1.0,0.0,0.0,1.0,2.0,1.0
2,1.0,0.0,0.0,1.0,2.0,1.0
3,2.0,0.0,0.0,1.0,2.0,1.0
4,2.0,0.0,0.0,0.0,1.0,2.0
...,...,...,...,...,...,...
9995,1.0,0.0,0.0,1.0,2.0,2.0
9996,1.0,1.0,0.0,0.0,2.0,1.0
9997,0.0,0.0,0.0,0.0,2.0,1.0
9998,0.0,1.0,1.0,0.0,1.0,2.0
9999,1.0,2.0,1.0,0.0,1.0,0.0

In [ ]:
import joblib

joblib.dump(preprocessor , 'encoder_pipeline')

['encoder_pipeline']

In [ ]:
for col in ordinal_cols+label_cols:

    df[col] = transformed_data[col]

In [ ]:
df.columns

Index(['Age', 'Is_Senior', 'Marital_Status', 'Married_Premium_Discount',
       'Prior_Insurance', 'Prior_Insurance_Premium_Adjustment',
       'Claims_Frequency', 'Claims_Severity', 'Claims_Adjustment',
       'Policy_Type', 'Policy_Adjustment', 'Premium_Amount',
       'Safe_Driver_Discount', 'Multi_Policy_Discount', 'Bundling_Discount',
       'Total_Discounts', 'Source_of_Lead', 'Time_Since_First_Contact',
       'Conversion_Status', 'Website_Visits', 'Inquiries', 'Quotes_Requested',
       'Time_to_Conversion', 'Credit_Score', 'Premium_Adjustment_Credit',
       'Region', 'Premium_Adjustment_Region'],
      dtype='object')

In [ ]:
df.drop(columns = ["Is_Senior","Policy_Adjustment" , "Prior_Insurance_Premium_Adjustment" , "Time_Since_First_Contact" ,"Conversion_Status","Premium_Adjustment_Region","Premium_Adjustment_Credit", "Time_to_Conversion","Quotes_Requested","Inquiries","Website_Visits" ])

,Age,Marital_Status,Married_Premium_Discount,Prior_Insurance,Claims_Frequency,Claims_Severity,Claims_Adjustment,Policy_Type,Premium_Amount,Safe_Driver_Discount,Multi_Policy_Discount,Bundling_Discount,Total_Discounts,Source_of_Lead,Credit_Score,Region
0,47,1.0,86,1.0,0,0.0,0,0.0,2286,0,0,0,0,0.0,704,1.0
1,37,1.0,86,1.0,0,0.0,0,0.0,2336,0,0,0,0,1.0,726,2.0
2,49,1.0,86,1.0,1,0.0,50,0.0,2386,0,0,0,0,1.0,772,2.0
3,62,1.0,86,2.0,1,0.0,50,0.0,2336,0,0,0,0,1.0,809,2.0
4,36,2.0,0,2.0,2,0.0,100,0.0,2350,0,0,0,0,0.0,662,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,59,2.0,0,1.0,0,0.0,0,0.0,2250,0,0,0,0,1.0,783,2.0
9996,18,1.0,86,1.0,0,1.0,0,0.0,2436,0,0,0,0,0.0,667,2.0
9997,29,1.0,86,0.0,0,0.0,0,0.0,2486,0,0,0,0,0.0,637,2.0
9998,47,2.0,0,0.0,0,1.0,0,1.0,2150,0,0,0,0,0.0,676,1.0
9999,49,0.0,0,1.0,0,2.0,0,1.0,2000,0,0,0,0,0.0,776,1.0

In [ ]:
df

,Age,Is_Senior,Marital_Status,Married_Premium_Discount,Prior_Insurance,Prior_Insurance_Premium_Adjustment,Claims_Frequency,Claims_Severity,Claims_Adjustment,Policy_Type,...,Time_Since_First_Contact,Conversion_Status,Website_Visits,Inquiries,Quotes_Requested,Time_to_Conversion,Credit_Score,Premium_Adjustment_Credit,Region,Premium_Adjustment_Region
0,47,0,1.0,86,1.0,50,0,0.0,0,0.0,...,10,0,5,1,2,99,704,-50,1.0,50
1,37,0,1.0,86,1.0,50,0,0.0,0,0.0,...,22,0,5,1,2,99,726,-50,2.0,100
2,49,0,1.0,86,1.0,50,1,0.0,50,0.0,...,28,0,4,4,1,99,772,-50,2.0,100
3,62,1,1.0,86,2.0,0,1,0.0,50,0.0,...,4,1,6,2,2,2,809,-50,2.0,100
4,36,0,2.0,0,2.0,0,2,0.0,100,0.0,...,14,1,8,4,2,10,662,50,1.0,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,59,1,2.0,0,1.0,50,0,0.0,0,0.0,...,6,1,4,3,2,9,783,-50,2.0,100
9996,18,0,1.0,86,1.0,50,0,1.0,0,0.0,...,3,1,6,1,3,6,667,50,2.0,100
9997,29,0,1.0,86,0.0,100,0,0.0,0,0.0,...,29,1,3,4,3,3,637,50,2.0,100
9998,47,0,2.0,0,0.0,100,0,1.0,0,1.0,...,8,1,2,4,1,13,676,50,1.0,50
9999,49,0,0.0,0,1.0,50,0,2.0,0,1.0,...,11,1,5,0,2,4,776,-50,1.0,50